@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
}

body {
  @apply text-gray-900 dark:text-gray-50 transition-colors duration-300;
}

@theme {
  --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;
  --animate-shake: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
  }

  --animate-float: float 6s ease-in-out infinite;
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}
